/* Styles */
body{
    color: #fff !important;
    background-color: #333 !important;
}
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  padding-top: 20px;
}

.content {
  padding-top: 60px !important;
}

a, a:focus, a:hover {
  color: #fff !important;
}

.jumbotron {
   background-color: #333 !important;
}